@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
html {
  font-family: "poppins", sans-serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-logo {
  max-width: 100rem;
  margin: 0 auto;
  display: flex; /* Menggunakan flexbox */
  align-items: center; /* Pusatkan elemen secara vertikal */
  /* border: 2px solid black; */
  margin-left: 0.1rem;
  height: 5rem;
  padding: 5px; /* Berikan sedikit padding agar teks tidak terlalu dekat dengan tepi */
}

/* Gaya untuk gambar dalam .logo-e-news */
.logo-e-news img {
  max-width: 5rem;
  height: auto;
  /* border: 2px solid #000000; */
}

/* Gaya untuk teks di samping gambar */
.text-desa {
  /* border: 2px solid red; */
  font-size: 1rem;
  margin-left: 5px; /* Beri jarak antara teks dengan gambar */
}
/* Gaya untuk container .e-news_container */
.e-news_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc; /* Tambahkan garis pembatas */
  display: flex; /* Menggunakan Flexbox untuk mengatur tata letak */
  align-items: center; /* Elemen berada di tengah secara vertikal */
}

/* Gaya untuk gambar dalam .e-news_container */
.e-news_container img {
  width: 3rem; /* Lebar gambar diatur menjadi 3 rem */
  height: auto; /* Tinggi gambar akan menyesuaikan agar tidak terdistorsi */
  margin-right: 20px; /* Jarak antara gambar dengan teks */
}

/* Gaya untuk judul "E - NEWS" */
.e-news_container h2 {
  color: #007bff;
  font-size: 18px;
  font-weight: normal;
  margin: 0; /* Hapus margin bawaan untuk h2 */
}

/* Gaya untuk container .pengumuman */
.pengumuman {
  max-width: 600px;
  margin: 0 auto;
  text-align: center; /* Untuk memusatkan isi pada tengah */
  position: relative; /* Membuat container .pengumuman menjadi konteks posisi */
  border: 1px solid #ccc; /* Tambahkan garis pembatas */
  padding: 20px; /* Jarak antara isi dan garis pembatas */
  display: flex; /* Menggunakan Flexbox untuk mengatur tata letak */
  flex-direction: column; /* Atur tata letak elemen secara vertikal */
}

/* Gaya untuk container .title-container dan .title2-container */
.title-container,
.title2-container {
  margin-bottom: 10px; /* Jarak antara tulisan dan garis pemisah */
  text-align: left; /* Meletakkan tulisan di kiri */
}

/* Gaya untuk elemen h3 dalam .title-container dan .title2-container */
.title-container h3,
.title2-container h3 {
  margin: 0; /* Hapus margin bawaan h3 agar tidak ada jarak di atas dan bawah */
  font-size: 1rem;
}

/* Gaya untuk gambar dalam .pengumuman */
.pengumuman img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 20px; /* Jarak antara gambar dengan konten sebelumnya */
}

/* Gaya untuk gambar pada pojok kanan atas */
.title2-container img {
  position: absolute;
  top: 1rem;
  right: 5rem;
  width: 6rem; /* Lebar gambar diatur menjadi 3 rem */
  height: auto; /* Tinggi gambar akan menyesuaikan agar tidak terdistorsi */
  transform: translate(
    50%,
    -50%
  ); /* Menggeser gambar 50% dari kanan dan 50% dari atas */
}

/* container utuk berita dan gambar */
/* Gaya untuk container .berita-dan-gambar */
.berita-dan-gambar {
  height: 5rem;
  width: 100%;
  margin: 0;
  position: relative;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

/* Gaya untuk elemen h3 dalam .berita-dan-gambar */
.berita-dan-gambar h3 {
  font-size: 1rem;
  margin: 0;
  flex: 1;
}

/* Gaya untuk container .btnfilter */
.btnfilter {
  display: flex;
  align-items: center;
  margin-left: 12rem;
}

/* Gaya untuk tautan a dalam .btnfilter */
.btnfilter a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  background-color: rgb(166, 3, 3);
  font-size: 1rem;
  font-weight: 600;
}

.berita1 {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 0.3rem;
}
.berita1 img {
  max-width: 100%;
  height: auto;
  border-radius: 0.3rem;
}
/*------------------------------detile pengumuman-------------------- */
.Pengumuman-wraper {
  position: relative;
  overflow-x: hidden;
}

.pengumuman-head {
  width: 100%;
  box-shadow: 0 2px 2px rgb(135, 135, 135);
  padding-bottom: 0.5rem;
  z-index: 2;
  position: fixed;
  background-color: white;
}
.pengumuman-head a {
  text-decoration: none;
  font-weight: 600;
  color: red;
}
.text-pengumuman {
  width: 90%;
  height: 6rem;
  box-shadow: 0 2px 2px rgb(56, 56, 56);
  padding: 1rem;
  position: absolute;
  left: 1.3rem;
  top: 1.5rem;
  z-index: 3;
  border-radius: 0.3rem;
  background-color: white;
  font-weight: 700;
}
.text-pengumuman h1 {
  color: rgb(3, 3, 3);
  font-weight: 900;
  font-size: medium;
  top: 3rem;
}
.text-pengumuman p {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: small;
  top: 3rem;
}
.sosial_media {
  width: 3rem;
  position: fixed;
  right: 0;
  top: 10rem;
  box-shadow: 0 0 5px black;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  z-index: 1;
  background-color: whitesmoke;
}
.pengumuman-body {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  padding-top: 7rem;
}
.gambar_isi img {
  width: 100%;
  height: auto;
  top: 7rem;
}

.isi-pengumuman {
  top: -2rem;
  height: 100%;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 2px black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  background-color: white;
}
/*----------------------- detile berita ----------------*/
.berita-wraper {
  position: relative;
  overflow-x: hidden;
}
.head-berita {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 2px rgb(135, 135, 135);
  padding-bottom: 0.5rem;
  position: fixed;
  background-color: whitesmoke;
}
.head-berita a {
  text-decoration: none;
  font-weight: 600;
  color: red;
  /* z-index: 1; */
}

.judul-berita {
  width: 90%;
  height: 6rem;
  box-shadow: 0 2px 2px rgb(56, 56, 56);
  padding: 1rem;
  position: absolute;
  left: 1.3rem;
  top: 1.5rem;
  z-index: 3;
  border-radius: 0.3rem;
  background-color: white;
  font-weight: 700;
}
.judul-berita h2 {
  color: rgb(3, 3, 3);
  font-weight: 900;
  font-size: medium;
  top: 3rem;
}
.judul-berita p {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: small;
  top: 3rem;
}

.sosial-media {
  position: fixed;
  top: 55%;
  right: 1rem;
  transform: translateY(-50%);
  box-shadow: 0 0 2px black;
  background-color: whitesmoke;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  width: 2.5rem;
  padding: 1rem;
}

.sosial-media a {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  color: #000;
}
