@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
html {
  font-family: "poppins", sans-serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text: #3a3a3a;
}
html {
  color: var(--text);
}

.container-tampil-berita {
  position: fixed;
  background-color: white;
}
.container-logo-pengumuman-berita {
  display: flex;
  align-items: center;
  border-left: none;
  border-right: none;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 1rem 0.5rem;
}
.container-logo-pengumuman-berita .title-fitur {
  display: flex;
  flex-direction: column;
  line-height: 1.3rem;
}
.container-logo-pengumuman-berita img {
  width: 20%;
  height: auto;
  margin-right: 0.5rem;
}
.container-logo-pengumuman-berita h1 {
  font-weight: 400;
  font-size: 1.5rem;
  width: 100%;
}
.container-logo-pengumuman-berita h2 {
  color: #d80000;
  font-size: 1rem;
  left: 6.7rem;
  font-weight: 300;
}
.head-pengumuman-berita {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border-left: none;
  border-right: none;
  margin-right: auto;
  background-color: white;
  margin-top: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.select-pengumuman-berita p {
  margin-right: 10px;
  position: absolute;
  left: 1rem;
}

.select-pengumuman-berita a {
  color: #d80000;
  text-decoration: none;
  margin-left: 15rem;
}
.select-pengumuman-berita img {
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
  box-shadow: 0 2px 2px black;
  background-color: white;
}
.neck-pengumuman-berita {
  width: 100%;
  padding: 0.5rem;
  box-shadow: 0 2px 2px black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  /* border: 1px solid black; */
}
.neck-pengumuman-berita p {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.neck-pengumuman-berita a {
  color: white;
  text-decoration: none;
  margin-left: 15rem;
  border: 1px solid #d80000;
  background-color: #d80000;
  border-radius: 0.3rem;
}
.body-berita-pengumuman {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  box-shadow: 0 2px 2px black;
}
.body-berita1 img {
  width: 100%;
  height: auto;
  margin-top: 21.5rem;
  border-radius: 0.3rem;
}
.body-berita2 img {
  width: 100%;
  height: auto;
  margin-top: 0.2rem;
  border-radius: 0.3rem;
}
/*------------------------------detile pengumuman-------------------- */

.pengumuman-head {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.pengumuman-head .header-halaman {
  width: 100%;
  padding: 0.5rem;
  background-color: white;

  border-bottom: 1px solid var(--text);
}
.pengumuman-head .header-halaman a {
  text-decoration: none;
  font-weight: 600;
  color: #d80000;
}

.pengumuman-head .text-pengumuman {
  display: flex;
  flex-direction: column;

  background: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 5px 2px var(--text);

  width: 85%;
  padding: 0 1rem 0.5rem 1rem;
  line-height: 1.5rem;

  position: relative;
  top: -0.2rem;
  z-index: 3;
}
.pengumuman-head .text-pengumuman h1 {
  font-size: 1.1rem;
}
.pengumuman-head .text-pengumuman p {
  font-size: 0.7rem;
}

.pengumuman-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 0;
  top: 7rem;
}
.gambar-isi img {
  width: 100%;
}
.pengumuman-body .isi-pengumuman {
  display: flex;
  flex-direction: column;

  position: relative;
  margin-top: -1rem;
  bottom: 0;
  z-index: 1;

  background-color: white;
  box-shadow: 0 0 5px var(--text);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  width: 90%;
  min-height: 60vh;
  padding: 1rem;

  text-align: justify;
  text-indent: 20px;
}

/*----------------------- detile berita ----------------*/
.berita-wraper {
  position: relative;
  overflow-x: hidden;
}
.head-berita {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 2px rgb(135, 135, 135);
  padding: 0.5rem;
  position: fixed;
  background-color: white;
}
.head-berita a {
  text-decoration: none;
  font-weight: 600;
  color: #d80000;

  display: flex;
  align-items: center;
}

.head-berita a i {
  font-size: 1.5rem;
}

.judul-berita {
  width: 90%;
  height: 6rem;
  box-shadow: 0 2px 2px rgb(56, 56, 56);
  padding: 1rem;
  position: absolute;
  left: 1.3rem;
  top: 2.5rem;
  z-index: 3;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: white;
  font-weight: 700;
}
.judul-berita h2 {
  color: rgb(3, 3, 3);
  font-weight: 900;
  font-size: medium;
  top: 3rem;
}
.judul-berita p {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: small;
  top: 3rem;
}

.sosial-media {
  position: fixed;
  top: 31%;
  transform: translateY(-50%);
  right: 0;
  width: 2.5rem;
  height: 9rem;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sosial-media i {
  font-size: 1rem;
}
.sosial-media .share {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.isi-berita {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  padding-top: 7rem;
}
.gambar-berita img {
  width: 100%;
  height: auto;
  top: 7rem;
}
.text-berita {
  top: -2rem;
  height: 100%;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 2px black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  background-color: white;
}

.text-berita p {
  text-align: justify;
  text-indent: 20px;
  margin-bottom: 10px;
}
