@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

html {
  font-family: "poppins", sans-serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #3a3a3a;
}

html {
  color: var(--text);
}

/* index */
.header-tampil {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 0.5rem;

  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-tampil i {
  color: #d80000;
  font-size: 2rem;

  margin-right: 0.5rem;

  position: relative;
}

.header-tampil i::after {
  content: "";
  display: block;
  height: 100%;
  width: 2px;

  position: absolute;
  right: 0;
  top: 0;

  background-color: #d80000;
}

.header-tampil img {
  height: 2.5rem;
  margin-right: 0.3rem;
}

.header-tampil .title-fitur {
  display: flex;
  flex-direction: column;

  line-height: 1rem;
}

.header-tampil .title-fitur h1 {
  font-size: 1.1rem;
}

.header-tampil .title-fitur p {
  font-size: 0.8rem;
  white-space: nowrap;
}

.header-tampil .title-fitur p span {
  color: #d80000;
}

.pengumuman-box {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: white;

  width: 100%;
  height: 15rem;
}

.pengumuman-box .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;

  background-color: white;

  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

  padding: 0.5rem;
}

.pengumuman-box .title-box .selengkapnya-btn {
  color: #d80000;
}

.pengumuman-card-screen {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: scroll;

  scroll-snap-type: x mandatory;


  width: 100%;
  height: 100%;
}

.pengumuman-card-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1.5rem 1rem 1.5rem 1rem;

  scroll-snap-align: start;

  width: 100%;
  height: 100%;

}

.pengumuman-card-wrapper .card-pengumuman {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100%;
  padding: 1rem;

  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;

  position: relative;
}

.pengumuman-card-wrapper .card-pengumuman img {
  height: 3rem;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.pengumuman-card-wrapper .card-pengumuman .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  position: relative;
  z-index: 2;
}

.pengumuman-card-wrapper .card-pengumuman .card-content .card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1rem;

  padding-top: 0.5rem;
}

.pengumuman-card-wrapper .card-pengumuman .card-content .card-title h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

.pengumuman-card-wrapper .card-pengumuman .card-content .card-title span {
  font-size: 0.8rem;
  font-weight: 600;
}

.pengumuman-card-wrapper .card-pengumuman .card-content .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.pengumuman-card-wrapper .card-pengumuman .card-content .card-bottom .button-wrapper {
  display: flex;
  align-items: end;

  height: 100%;
}

.pengumuman-card-wrapper .card-pengumuman .card-content .card-bottom button {
  background-color: #d80000;
  color: white;
  padding: 0.5rem;
  border: none;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;

  display: flex;
  align-items: center;
}

.pengumuman-card-wrapper .card-pengumuman .card-content .card-bottom .ringkasan-pengumuman {
  width: 65%;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: justify;
  overflow: hidden;
}

.pengumuman-card-wrapper .card-pengumuman .card-content .card-bottom .ringkasan-pengumuman p {
  font-size: 0.6rem;
  color: #909090;
}


.berita-box {
  display: flex;
  flex-direction: column;
  background-color: white;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.berita-box .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  position: sticky;
  top: 0;
  left: 0;

  padding: 0.5rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.berita-box .title-box button {
  background-color: #d80000;
  color: white;

  border: none;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;

  padding: 0.5rem;
}

.berita-box .title-box button i {
  margin-right: 0.2rem;
}

.berita-card-wrapper {
  width: 100%;
  height: 100%;

  padding: 1rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.berita-card-wrapper .berita-card {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 15rem;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;

  margin-bottom: 1rem;

  overflow: hidden;
}

.berita-card-wrapper .berita-card .berita-image img {
  width: 100%;
}

.berita-card-wrapper .berita-card .berita-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

  height: 100%;
  width: 100%;
}

.berita-card-wrapper .berita-card .berita-content .title {
  display: flex;
  flex-direction: column;

  width: 100%;

  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.berita-card-wrapper .berita-card .berita-content .title h3 {
  font-size: 1.1rem;
}

.berita-card-wrapper .berita-card .berita-content .title span {
  font-size: 0.7rem;
  font-weight: 600;
}

.berita-card-wrapper .berita-card .berita-content .ringkasan p {
  font-size: 0.8rem;
  color: #909090;
}

.berita-card-wrapper .berita-card .berita-content .button-wrapper {
  height: 100%;


  display: flex;
  flex-direction: column;
  justify-content: center;
}

.berita-card-wrapper .berita-card .berita-content button {
  background-color: #d80000;
  color: white;

  border: none;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;

  padding: 0.5rem;

  font-size: 0.5rem;
  white-space: nowrap;
}


/* index end */

/*------------------------------detile pengumuman-------------------- */

.pengumuman-head {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.pengumuman-head .header-halaman {
  width: 100%;
  padding: 0.5rem;
  background-color: white;

  border-bottom: 1px solid var(--text);
}

.pengumuman-head .header-halaman a {
  text-decoration: none;
  font-weight: 600;
  color: #d80000;
}

.pengumuman-head .text-pengumuman {
  display: flex;
  flex-direction: column;

  background: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);

  width: 85%;
  padding: 0 1rem 0.5rem 1rem;
  line-height: 1.5rem;

  position: relative;
  top: -0.2rem;
  z-index: 3;
}

.pengumuman-head .text-pengumuman h1 {
  font-size: 1.1rem;
}

.pengumuman-head .text-pengumuman p {
  font-size: 0.7rem;
}

.pengumuman-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  position: relative;
  z-index: 0;
  top: 7rem;
}

.gambar-isi img {
  width: 100%;
}

.pengumuman-body .isi-pengumuman {
  display: flex;
  flex-direction: column;

  position: relative;
  margin-top: -1rem;
  bottom: 0;
  z-index: 1;

  background-color: white;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  width: 100%;
  min-height: 60vh;
  padding: 1rem;

  text-align: justify;
  text-indent: 20px;
}

/*----------------------- detile berita ----------------*/
.berita-wraper {
  position: relative;
  overflow-x: hidden;
}

.head-berita {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 2px rgb(135, 135, 135);
  padding: 0.5rem;
  position: fixed;
  background-color: white;
}

.head-berita a {
  text-decoration: none;
  font-weight: 600;
  color: #d80000;

  display: flex;
  align-items: center;
}

.head-berita a i {
  font-size: 1.5rem;
}

.judul-berita {
  width: 90%;
  box-shadow: 0 2px 2px rgb(56, 56, 56);
  padding: 0 1rem 1rem 1rem;
  position: absolute;
  left: 1.3rem;
  top: 2.5rem;
  z-index: 3;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: white;
}

.judul-berita h2 {
  font-weight: 600;
  font-size: 1.1rem;
  top: 3rem;
}

.judul-berita p {
  font-size: 0.7rem;
  top: 3rem;
}

.sosial-media {
  position: fixed;
  top: 31%;
  transform: translateY(-50%);
  right: 0;
  width: 2.5rem;
  height: 9rem;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sosial-media i {
  font-size: 1rem;
}

.sosial-media .share {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.isi-berita {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  padding-top: 7rem;
}

.gambar-berita img {
  width: 100%;
  height: auto;
  top: 7rem;
}

.text-berita {
  top: -2rem;
  height: 100%;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 2px black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  background-color: white;
}

.text-berita p {
  text-align: justify;
  text-indent: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 765px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 85%;
  }

  .menu-popup .menu-wrapper .menu-box .menu-content {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 8px;
  }

  .menu-grid {
    grid-template-columns: repeat(3, 110px);
  }
}

@media screen and (max-width: 365px) {
  html {
    font-size: 85%;
  }

  .menu-popup .menu-wrapper .menu-box .menu-content {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 8px;
  }

  .menu-grid {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 90px);
  }
}