@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  font-family: "poppins", sans-serif;
  color: var(--text);
}

:root {
  --text: #3a3a3a;
}
.container-layanan {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
}
.pembungkus-head {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.btnkembali i {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #d80000;
  position: relative;
  margin-left: 0.5rem;
}
.btnkembali i::after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #d80000;
  position: absolute;
  top: 0;
  right: 0;
}
.pembungkus-judul {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  margin-left: 0.5rem;
  line-height: 1;
}
.head-layanan-publik {
  width: 100%;
  height: auto;
  display: contents;
  align-items: center;
}
.head-layanan-publik img {
  width: 2.5rem;
  height: auto;
  margin-left: 0.2rem;
}
.judul-layanan-publik p {
  font-size: 1.5rem;
  font-weight: 500;
}
.sub-judul-layanan-publik p {
  font-size: 0.6rem;
  font-weight: 400;
  padding: 0;
}
.sub-judul-layanan-publik p span {
  color: #d80000;
}
.kategori {
  width: 100%;
  height: 2rem;
  background-color: #d80000;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 0.5rem;
}
.kategori-layanan p {
  font-size: 0.8rem;
  color: white;
  font-weight: 500;
  margin-left: 1rem;
}
.content-layanan-publik {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.e-bansos {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 95%;
  height: auto;
  border-radius: 1rem;
  padding: 0.5rem;
  position: relative;
}
.content1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  position: relative;
}
.text-content1 p {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 2rem;
}
.img-content1 img {
  width: 6rem;
  height: 6rem;
  margin-left: 2rem;
}
.content2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}
.text-content2 p {
  font-size: 0.5rem;
  width: auto;
  height: auto;
}
.btnmore {
  background-color: #d80000;
  border-radius: 0.5rem;
  width: 10rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  margin-right: 1.5rem;
}
.btnmore p {
  font-size: 0.6rem;
  font-weight: 600;
  color: white;
}
.btnmore i {
  margin-left: 0.2rem;
}
.img-content2 img {
  width: 6rem;
  height: 6rem;
  margin-left: 4rem;
}
.content3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}
.text-content3 p {
  font-size: 0.5rem;
  width: auto;
  height: auto;
}
.btnmore1 {
  background-color: #d80000;
  border-radius: 0.5rem;
  width: 7.7rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  margin-right: 1.5rem;
}
.btnmore1 p {
  color: white;
  font-size: 0.6rem;
  font-weight: 600;
}
.btnmore1 i {
  margin-left: 0.2rem;
}

/* ----------------------E-Surat -------------------------------------*/
.container-esurat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: fixed;
  background-color: white;
  width: 100%;
  height: auto;
}
.head-esurat {
  width: 100%;
  height: 3rem;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.head-esurat a {
  text-decoration: none;
  color: #d80000;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.5rem;
}
.ketegori-esurat {
  width: 100%;
  height: 5rem;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
}
.pembungkus-head-esurat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: auto;
  padding: 0.2rem;
  margin-left: 0.7rem;
}
.head-kategori-esurat {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  height: 2.8rem;
  width: 2.8rem;
  background-color: #d80000;
}
.btn-pick.not-selected a .pembungkus-head-esurat .head-kategori-esurat {
  background-color: #909090;
}
.head-kategori-esurat i {
  font-size: 2rem;
  color: white;
}
.head-kategori-esurat:hover {
  color: white;
  background-color: #f81b1b;
  transition: 400ms;
}
.head-kategori2-esurat p {
  font-size: 0.5rem;
  padding-top: 0.3rem;
}
.body-esurat {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pembungkus-isi-esurat {
  width: 10rem;
  height: 10rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gambar-esurat img {
  width: 5rem;
  height: 5rem;
}
.text-esurat p {
  font-size: 1rem;
  color: black;
}
.btn-pick a {
  text-decoration: none;
  color: black;
}
/* -------------------------------kategori esurat -----------------------------*/
.jenis-surat {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding-top: 9rem;
}
.pembungkus-surat {
  padding: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 1rem;
  margin: 0.5rem;
  width: auto;
  height: auto;
}
.jenis-surat img {
  width: auto;
  height: 5rem;
}
.jenis-surat p {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}
.jenis-surat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
}
/* ------------------------------E Bansos---------------------------------- */
.container-ebansos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.head-ebansos {
  width: 100%;
  height: 3rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  /* position: relative; */
}
.btn-ebansos a {
  color: #d80000;
  font-size: 1rem;
  text-decoration: none;
  padding-left: 0.5rem;
}
.ebansos-card {
  width: 91%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  margin-top: 1rem;
  background-color: #d80000;
  border-radius: 1rem;
}
.e-bansos-box {
  width: 100%;
  height: auto;

  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;

  padding: 0.5rem;
}
.e-bansos-box img {
  width: 100%;
  height: auto;
}

.btnmore-card-ebansos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.btnmore-card-ebansos p {
  width: auto;
  height: 4rem;
  font-size: 0.7rem;
  font-weight: 600;

  text-align: center;
}
.btnmore-card-ebansos a {
  text-decoration: none;
  font-size: 0.5rem;
  font-weight: 400;
  border-radius: 0.3rem;
  background-color: #d80000;
  color: white;
  padding: 0.2rem;
  margin-left: 6.5rem;
}
.container-body {
  width: 100%;
  height: auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 1rem;
}
.ebansos-card-sum {
  width: 100%;
  height: auto;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.wrapper-card-sum {
  width: 80%;
  height: auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

  border-radius: 1rem;
}
.wrapper-card-sum h4 {
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  background-color: #0eddc4;
  color: white;
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card-sum {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
}
.grafik-sum {
  width: 100%;
  height: auto;
  margin-left: 0.5rem;
}
.card-sum p {
  display: flex;
  align-items: center;
}
.card-sum img {
  width: 5rem;
  height: auto;
}
.jenis-sum {
  width: 100%;
  height: auto;
}
.jenis-sum p {
  margin-bottom: 1.5rem;
}
.jenis-sum h5 {
  font-size: 0.7rem;
  font-weight: 550;
}
.bxs-checkbox.kuning {
  color: yellow;
}
.bxs-checkbox.birumuda {
  color: #00acc1;
}
.jumlah-sum {
  width: 100%;
  height: auto;
  margin-left: 0.5rem;
}
.judul-jumlah {
  margin-bottom: 1.5rem;
}
.hasil-penerima-aktif {
  font-size: 0.7rem;
  font-weight: 550;
}
/* ------------------------konten ebansos----------------------------- */

.ebansos-cards {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;

  padding: 0.5rem;

  justify-content: center;
  align-items: center;
}
.pembungkus-card-ebansos {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.penerima-bansos {
  width: 8rem;
  height: 7.5rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.color-cards {
  background-color: #d80000;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 1rem;
  width: 100%;
}
.style-penerima-bansos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.angka-penerima-bansos {
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
}
.penerima-bansos img {
  width: auto;
  height: 1.5rem;
  margin-bottom: 0.3rem;
}
.text-penerima-bansos {
  width: 6rem;
  height: auto;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
