@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

html {
    font-family: "poppins", sans-serif;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--text);
}

:root {
    --text: #3a3a3a;
}

/* header */

header {
    display: flex;
    align-items: center;

    padding: 0.5rem;
    width: 100%;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header img {
    height: 3rem;

    margin-right: 0.3rem;
}

header a {
    text-decoration: none;

    color: #d80000;
}

header a i {
    font-size: 2rem;
    position: relative;

    margin-right: 0.5rem;
}

header a i::after {
    content: "";
    display: block;
    right: 0;
    top: 0;

    width: 2px;
    height: 100%;

    background-color: #d80000;

    position: absolute;
}

header .title-fitur {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

header .title-fitur h1 {
    font-size: 1.5rem;
}

header .title-fitur p {
    font-size: 0.7rem;
}

header .title-fitur p span {
    color: #d80000;
}

/* header end */

/* kategori */

.kategori-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;

    display: flex;
    justify-content: space-evenly;

    width: 100%;
    padding: 0.5rem;
    background-color: #d80000;
    color: white;


    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.kategori-wrapper .pilihan {
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1rem;
}

.kategori-wrapper .pilihan i {
    font-size: 3rem;
}

/* kategori end */

/* card-pengaduan */

.pengaduan-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;

    padding: 1rem;
}

.pengaduan-card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    border-radius: 1rem;
    margin-bottom: 1.5rem;

    width: 100%;
    height: 18rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.pengaduan-card .header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pengaduan-card .header-card .profile-user {
    display: flex;
    align-items: center;
}

.pengaduan-card .header-card .profile-user .profile-time {
    display: flex;
    flex-direction: column;

    line-height: 1rem;
}

.pengaduan-card .header-card .profile-user .profile-time h3 {
    font-size: 1rem;
}

.pengaduan-card .header-card .profile-user .profile-time span {
    font-size: 0.5rem;
}

.pengaduan-card .header-card .profile-user img {
    width: 3rem;
    margin-right: 0.3rem;
}

.pengaduan-card .header-card .status-wrapper {
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: start;
}

.pengaduan-card .header-card .status-wrapper .status {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;
    height: 2rem;
    border-radius: 1rem;

    background-color: green;
    color: white;
}

.pengaduan-card .header-card .status-wrapper .status h2 {
    font-size: 0.7rem;
}

.pengaduan-card .body-card {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
}

.pengaduan-card .body-card .text {
    display: flex;

    width: 100%;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
}

.pengaduan-card .body-card .text p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    text-indent: 20px;

    font-size: 0.7rem;
}

.pengaduan-card .body-card .text span {
    font-size: 0.7rem;
}

.pengaduan-card .body-card .foto {
    display: grid;
    grid-template-columns: auto 40%;
    grid-template-rows: 4rem 4rem;
    grid-template-areas:
        "foto1 foto2"
        "foto1 foto3";
}

.foto .foto1 {
    grid-area: foto1;
    width: 100%;
}

.foto .foto2 {
    grid-area: foto2;
    width: 100%;
}

.foto .foto3 {
    grid-area: foto3;
    width: 100%;
}


/* card-pengaduan end */