@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-family: "poppins", sans-serif;
  color: var(--text);
}

:root {
  --text: #3a3a3a;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navbar */
@keyframes pop-in-navbar {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;

  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav {
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem 1.3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  position: relative;
}

nav .nav-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #909090;
}

nav .nav-btn i {
  font-size: 2rem;
}

nav .nav-btn p {
  font-size: 0.6rem;
}

nav .nav-btn img {
  width: 5rem;
  height: 5rem;
}

.menuBtn {
  margin-top: -2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.berandaBtn.active,
.aktivitasBtn.active,
.notifikasiBtn.active,
.profilBtn.active {
  color: red;
}

/* navbar end */

/* menu popup */
.menu-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: bottom;
  transform: scale(0);
  opacity: 0;

  transition: all 0.4s ease-in-out;
}

.menu-popup.active {
  transform: scale(1);
  opacity: 1;
}

.menu-popup .menu-wrapper {
  position: relative;
  width: 80%;
  height: 23rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 0.5rem;

  transform-origin: bottom;
}

.menu-popup .menu-wrapper .closeBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.menu-popup .menu-wrapper .closeBtn i {
  font-size: 2rem;
}

.menu-popup .menu-wrapper .title h2 {
  font-size: 1rem;
}

.menu-popup .menu-wrapper .menu-box {
  margin-top: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: start;

  height: 100%;
  width: 100%;
  padding: 1rem 0;
}

.menu-popup .menu-wrapper .menu-box .menu-content {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
  gap: 10px;
}

.menu-popup .menu-wrapper .menu-content .menu {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.menu-popup .menu-wrapper .menu-content .menu img {
  height: 3rem;
}

.menu-popup .menu-wrapper .menu-content .menu p {
  font-size: 0.6rem;
  width: 100%;
  text-align: center;
}

/* menu popup end */

/* background profil */
body {
  width: 100vw;
  height: 100vh;
  position: relative;

  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body::after {
  content: "";
  display: block;
  height: 9rem;
  width: 100vw;
  background-color: rgb(209, 0, 0);

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.fitur-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 6rem;
}

.fitur-wrapper .profile-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fitur-wrapper .profile-header i {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: white;
}

.fitur-wrapper .profile-header a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}

.fitur-wrapper .profile-header .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.first-card {
  margin-top: 2rem;
  height: 50rem;
  width: 20rem;
  padding: 1rem 0;
  overflow: hidden;

  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  animation: fade-in-top 0.4s ease-in;
}

/* card id display */
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  70% {
    opacity: 0;
    transform: translate(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-display {
  height: 10rem;
  width: 90%;

  background: linear-gradient(to right, maroon, rgb(209, 0, 0));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 1.4rem;

  overflow: hidden;

  position: relative;
}

.card-display .idcard-bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;

  animation-delay: 1.5s;
  animation: fade-in-top 1s ease-in;

  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.card-display .card-content {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.card-display .card-content .upper-card {
  display: flex;
  justify-content: space-between;
}

.card-display .card-content .upper-card .user {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  line-height: 1rem;

  color: white;
}

.card-display .card-content .upper-card .user h1 {
  font-size: 1rem;
}

.card-display .card-content .upper-card .user span {
  font-size: 0.7rem;

  animation-delay: 0.5s;
  animation: fade-in-right 0.5s ease-in;
}

.card-display .card-content .upper-card .user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;

  padding: 1rem 1rem 0 0;
}

.card-display .card-content .upper-card .user-info .info-card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1.5rem;

  color: white;
}

.card-display .card-content .upper-card .user-info .info-card span {
  font-size: 0.5rem;
  margin-right: 0.3rem;

  animation-delay: 1s;
  animation: fade-in-left 1s ease;
}

.card-display .card-content .upper-card .user-info .info-card .icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-display .card-content .upper-card .user-info .info-card .icon i {
  font-size: 0.5rem;
}

.card-display .card-content .bottom-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(209, 0, 0);

  animation-delay: 1.5s;
  animation: fade-in-top 1s ease-in;
}

.card-display .card-content .bottom-card .idcard-logo {
  margin-right: auto;
  padding-left: 1rem;
  position: relative;
  top: -0.5rem;
}

.card-display .card-content .bottom-card .idcard-logo img {
  width: 6rem;
}

.card-display .card-content .bottom-card .idcard-number {
  width: 100%;
  height: 100%;
  padding-bottom: 0.8rem;
  padding-right: 0.5rem;

  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.card-display .card-content .bottom-card .idcard-number span {
  font-size: 0.7rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.profile .image-place {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-top: 2rem;
}

.profile .image-place::before {
  content: "";
  display: block;
  width: 100%;
  height: 2.5rem;
  background-color: rgb(209, 0, 0);

  position: absolute;
  z-index: 0;
}

.profile .image-place .img-wrapper {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid rgb(209, 0, 0);
  position: relative;
  z-index: 1;
}

.profile .image-place .img-wrapper img {
  width: 100%;
}

.profile .username h2 {
  font-size: 1.5rem;
}

.profile .place {
  margin-top: 1rem;
  line-height: 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile .selection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 0.8rem;
  padding: 1rem 0;
  border-top: 1px solid #3a3a3a;
}

.profile .selection .select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .selection .select i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.profile .selection .select h3 {
  font-size: 1rem;
  font-weight: 400;
}

.informasi,
.e-pasar {
  color: #909090;
}

.informasi.active,
.e-pasar.active {
  color: rgb(209, 0, 0);
}

.section-wrapper {
  width: 95%;
  height: 20rem;
  overflow-x: hidden;
  border-top: 1px solid #3a3a3a;
}

.section-wrapper::-webkit-scrollbar {
  display: none;
}

.section-wrapper .section-screen {
  width: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: 0.3s ease-out;
}

.section-wrapper .section-screen.e-pasar {
  transform: translateX(calc(-100% / 2));
}

.section-wrapper .section-screen section {
  width: 100%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.info {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  padding: 0.5rem;
  border-bottom: 1px solid #909090;
}

.info .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.4rem;

  color: firebrick;
}

.info .title i {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.info .title p {
  font-size: 0.8rem;
}

.info .content p {
  font-size: 0.7rem;
}

.lihat-btn {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lihat-btn button {
  width: 80%;
  padding: 0.5rem;

  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(209, 0, 0);
  color: white;

  font-size: 1rem;
}

#e-pasar {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#e-pasar img {
  width: 10rem;
  transform: translateX(1.5rem);
}

/* background profil END */

@media screen and (max-width: 765px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 85%;
  }

  .menu-popup .menu-wrapper .menu-box .menu-content {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 8px;
  }

  .menu-grid {
    grid-template-columns: repeat(3, 110px);
  }
}

@media screen and (max-width: 365px) {
  html {
    font-size: 85%;
  }

  .menu-popup .menu-wrapper .menu-box .menu-content {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 8px;
  }

  .menu-grid {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 90px);
  }
}