@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    font-family: "poppins", sans-serif;
    color: var(--text);
}

:root {
    --text: #3a3a3a;
    --text2: #909090;
}

/* header */

header {
    display: flex;
    align-items: center;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    padding: 0.5rem;
}

header a i {
    font-size: 2rem;
    margin-right: 0.5rem;

    color: #d80000;

    position: relative;
}

header a i::after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;

    background-color: #d80000;

    position: absolute;
    top: 0;
    right: 0;
}

header img {
    height: 2.5rem;
    margin-right: 0.3rem;
}

header .title-fitur {
    display: flex;
    flex-direction: column;

    line-height: 1rem;
}

header .title-fitur h1 {
    font-size: 1.1rem;
}

header .title-fitur p {
    font-size: 0.7rem;
}

header .title-fitur p span {
    color: #d80000;
}

/* header end */

/* content */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper .kategori {
    width: 100%;
    color: white;
    background-color: #d80000;
    padding: 0 0.5rem;
}

.content-wrapper .kategori h3 {
    font-weight: 400;
    font-size: 1rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

.cards-container .card {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;

    margin-bottom: 1rem;

    width: 100%;
    height: 13rem;
}

.card .card-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 60%;
}

.card .card-hero h2 {
    font-size: 1.7rem;
}

.card .card-hero img {
    height: 100%;
}

.card .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 40%;
}

.card .card-footer p {
    font-size: 0.7rem;
    text-align: justify;
    color: #909090;

    margin-right: 1.5rem;
}

.card .card-footer button {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;

    border: none;
    background-color: #d80000;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    white-space: nowrap;
}

.card .card-footer button span {
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

/* content end */

/* wisata */
.header {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;

    width: 100%;
    padding: 0.5rem;

    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header a {
    text-decoration: none;
    color: #d80000;
}

.header a i {
    font-size: 2rem;
}

.header span {
    font-size: 1rem;
}

/* content */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 1rem;
}

.content-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 23rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    margin-bottom: 0.5rem;
}

.content-container .card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

.content-container .card span {
    display: flex;
    padding: 0.5rem 1rem;
    width: 100%;

    font-size: 0.5rem;
    color: #909090;
}

.content-container .card .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 0 1.5rem 0.5rem 1.5rem;
}

.content-container .card .content .title h3 {
    text-align: center;
    font-size: 1.1rem;
}

.content-container .card .content .desc {
    display: -webkit-box;
    padding: 0.5rem 0 0 0;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-align: justify;
    color: #909090;
    line-height: 1rem;
    font-size: 0.6rem;
    text-indent: 20px;
}

.card-content-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    margin-top: 1rem;
}

.content-container .card .content button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;

    background-color: #d80000;
    color: white;
}

.content-container .card .content button h4 {
    font-size: 0.8rem;
    font-weight: 400;
    margin-right: 0.3rem;
}


/* wisata end */